@model WebCafeUI.Models.ViewModels.ProductViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["order"] != null)
{
    <div class="row">
        <div class="col" style="justify-content:center;display:flex;align-items:center;">
            <div class="alert alert-success" role="alert">
                @TempData["order"]
            </div>
        </div>
    </div>
}
<div class="row">


    <div class="col-4">
        <div class="list-group w-auto">
            @foreach (var category in Model.categories)
            {
                <a href="/Cafe/Index/@category.id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://icon-library.com/images/category-icon/category-icon-25.jpg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">@category.CategoryName</h6>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="col-8">



        @foreach (var product in Model.products)
        {

            var dolarkur = TempData["dolar"];
            double fiyat = product.Price * Convert.ToDouble(dolarkur);
            <div class="row" style="background-color:wheat;height:40px;justify-content:center;display:flex;align-items:center;">
                <div class="col" style="font-size:23px"><strong> @product.ProductName </strong></div>
            </div>
            <div class="row mt-5" style="background-color:white;">

                <div class="col-3">
                    <div style="height:150px;display:flex;justify-content:center;align-items:center;">
                        <img class="" src="@product.ImagePath" alt="Card image cap" height="100%">
                    </div>
                </div>
                <div class="col-4">
                    <table class="table table-bordered">

                        @foreach (var productProperty in Model.productProperties)
                        {
                            if (product.id == productProperty.ProductId)
                            {
                                foreach (var property in Model.properties)
                                {
                                    if (productProperty.PropertyId == property.id)
                                    {
                                        <tr>
                                            <td>@property.Key</td>
                                            <td> @property.Value</td>
                                        </tr>
                                    }
                                }
                            }
                        }

                    </table>
                </div>

                <div class="col-3">
                    <div class="row p-0 m-0">
                        <div class=" btn btn-info" style="width:100px">TL @fiyat</div>
                    </div>
                    <div class="row p-0 m-0">
                        <a class=" btn btn-success" style="width:100px" href="/Cafe/Order/@product.id">Order</a>


                    </div>
                </div>
            </div>

        }
    </div>
</div>